/* Header.css */

.header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 8px 0; 
}

.header-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo-image {
    height: 48px;
    
}

.hamburger-button {
    display: block;
    background: none;
    border: none;
    color: #4a4a4a;
    cursor: pointer;
}

.hamburger-icon {
    width: 24px;
    height: 24px;
}

.navbar-desktop {
    display: flex;
    gap: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.order-now-desktop {
    display: none;
}

.nav-link {
    color: #4a4a4a;
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ec4899; 
}

.order-now-button {
    background-color: #ec4899;
    color: white;
    padding: 15px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-now-button:hover {
    background-color: #d81b60; 
}

.mobile-menu {
    position: absolute;
    top: 100%;
    right: 16px;
    width: 160px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
}

.mobile-nav-link {
    color: #4a4a4a;
    text-decoration: none;
    padding: 8px;
    transition: color 0.3s;
}

.mobile-nav-link:hover {
    color: #ec4899;
}

.order-now-mobile {
    margin-top: 8px;
}

.order-now-button-mobile {
    background-color: #ec4899;
    color: white;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-now-button-mobile:hover {
    background-color: #d81b60;
}


@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }

    .navbar-desktop {
        display: flex;
    }

    .order-now-desktop {
        display: block;
    }

    .mobile-menu {
        display: none;
    }
}
